.icon-bar1 a li svg{
    margin-top: 15px !important;
}

.what{
    margin-top: 5px;
}

.icon-bar1 {
    animation: bot-to-top 2s ease-out;
    background-color: #4caf50;
    border-radius: 50px;
    bottom: 80px;
    color: #fff !important;
    height: 60px;
    position: fixed;
    right: 40px;
    text-align: center !important;
    width: 60px !important;
    z-index: 1000;
}

.what {
    margin-top: 5px;
}

.icon-bar1 i {
    font-size: 1.6rem;
    color: #fff !important;
    margin-left: -23px;
    margin-top: 11px;
    
}



@media (min-width: 600px){
    .icon-bar1  {
        animation: bot-to-top 2s ease-out;
        background-color: #4caf50;
        border-radius: 50px;
        bottom: 80px;
        color: #fff !important;
        height: 60px;
        position: fixed;
        right: 40px;
        text-align: center !important;
        width: 60px !important;
        z-index: 1000;
        display: none;
    }
    

}