.mobile-img{
    width: 789px;
    margin-left: -178px;
    
}
.mobile-img img{
    width: 600px;
   
    
}

.btnnn a{
    font-size: 100px;
    margin-left: 260%;
    color: aquamarine;
}

.fw-bold {
    font-weight: 700 !important;
    color: black;
}



.text-primary {

    color: black !important;
}

.mob-top{
    margin-top: 45px;
}
